<nav class="navbar">
  <a class="logo" href="#">
    <span class="logo-base">videobelajar</span>
    <span class="logo-effect">videobelajar</span>
  </a>
  <div class="navbar-right">
    <details>
      <summary class="body-medium-medium">Kategori</summary>
      <ul class="body-medium-regular">
        <li>
          <a class="body-medium-medium button-primary-contained" href="#"
            >Login</a
          >
        </li>
        <li>
          <a class="body-medium-medium button-primary-outlined" href="#"
            >Register</a
          >
        </li>
      </ul>
    </details>
    <img class="user-profile" src="./assets/profile/woman.png" alt="" />
  </div>
</nav>

<!-- primary-green -->
