<footer>
  <div class="container-1440">
    <div class="footer-brand">
      <a class="logo" href="#">
        <span class="logo-base">videobelajar</span>
        <span class="logo-effect">videobelajar</span>
      </a>
      <h2 class="body-large-bold dark-primary-text">
        Gali Potensi Anda Melalui Melalui Pembelajaran Video di hariesok.id!
      </h2>
      <address class="body-medium-regular dark-primary-text">
        Jl. Usman Effendi No. 50 Lowokwaru, Malang
      </address>
      <p class="body-medium-regular dark-primary-text">+62-812-3456-7890</p>
    </div>
    <div class="footer-links">
      <nav class="footer-nav">
        <h3 class="body-medium-bold dark-primary-text">Kategori</h3>
        <ul class="body-medium-medium dark-secondary-text">
          <li><a href="#">Semua Kelas</a></li>
          <li><a href="#">Pemasaran</a></li>
          <li><a href="#">Desain</a></li>
          <li><a href="#">Pengembangan Diri</a></li>
          <li><a href="#">Bisnis</a></li>
        </ul>
      </nav>

      <nav class="footer-nav">
        <h3 class="body-medium-bold dark-primary-text">Perusahaan</h3>
        <ul class="body-medium-medium dark-secondary-text">
          <li><a href="#">Tentang Kami</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Kebijakan Privasi</a></li>
          <li><a href="#">Ketentuan Layanan</a></li>
          <li><a href="#">Bantuan</a></li>
        </ul>
      </nav>

      <nav class="footer-nav">
        <h3 class="body-medium-bold dark-primary-text">Komunitas</h3>
        <ul class="body-medium-medium dark-secondary-text">
          <li><a href="#">Semua Kelas</a></li>
          <li><a href="#">Pemasaran</a></li>
          <li><a href="#">Desain</a></li>
          <li><a href="#">Pengembangan Diri</a></li>
          <li><a href="#">Bisnis</a></li>
        </ul>
      </nav>
    </div>

    <div class="footer-bottom">
      <p class="body-medium-medium dark-secondary-text">
        &copy; 2026 Gerobak Sayur All rights reserved.
      </p>
      <nav class="footer-social dark-primary-text">
        <a href="#"><img src="./assets/icons/linkedin.png" alt="" /></a>
        <a href="#">
          <img src="./assets/icons/fb.png" alt="" />
        </a>
        <a href="#"><img src="./assets/icons/ig.png" alt="" /></a>
        <a href="#"><img src="./assets/icons/x.png" alt="" /></a>
      </nav>
    </div>
  </div>
</footer>
